.order-information-wrapper {

}
.order-information {

}
.cart-title {
    color: #1A1F16;
    font-size: 32px;
    text-align: center;
}
.cart {

}
.orders-title {
    color: #1A1F16;
    font-size: 32px;
    text-align: center;
}
.orders {

}
