* {
	font-family: 'Open Sans', sans-serif;
}

.container_info {
	column-gap: 60px;
}

.container_header {
	justify-content: start;
	margin-bottom: 24px;
}

.back-button {}

.item-info-output {
	max-width: 874px;
}

.item-image {
	width: 242px;
	height: 302px;
}

.item-name {
	font-size: 61px;
	font-weight: 700;
}

.item-model {
	color: var(--font-placeholder, rgba(26, 31, 22, 0.50));
	font-size: 31px;
}

.item-rating {}

.item-price {
	color: var(--font-dark, #1A1F16);
	font-size: 31px;
}

.basic-information {
	display: flex;
	align-items: start;
	justify-content: space-between;
	gap: 56px;
}

.item-basic-information {
	color: var(--font-dark, #1A1F16);
	font-size: 20px;
	font-weight: 400;
	align-self: stretch;
}

.full-desc-title {
	color: var(--font-dark, #1A1F16);
	font-family: Open Sans;
	font-size: 31px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.full-desc-wrapper {
	color: var(--font-tertiary, #60695C);
	font-size: 20px;
	letter-spacing: -0.4px;
}