@import url(src/styles/items.css);

body,
html {
	background-color: #f5f5f5;
}

.header {
	background-color: rgb(35, 35, 35);
	color: #f5f5f5;
	font-size: 21px;
	padding: 15px 0;
	padding-left: 30px;
}

.container {
	margin: 0 auto;
	max-width: 1200px;
}