@import url(cart.css);
@import url(orders.css);

.items {
	display: flex;
	justify-content: space-between;
	align-items: start;
	flex-wrap: wrap;
	max-width: 905px;
}

.item {
	max-width: 207px;
	height: 371px;
	padding: 16px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
}

.item:hover {
	-webkit-box-shadow: 0px 0px 24px -7px rgba(34, 60, 80, 0.3);
	-moz-box-shadow: 0px 0px 24px -7px rgba(34, 60, 80, 0.3);
	box-shadow: 0px 0px 24px -7px rgba(34, 60, 80, 0.3);
}

.item__image {
	width: 159px;
	height: 200px;
}

.item__name {
	color: #1A1F16;
	font-size: 20px;
	margin-bottom: 8px;
}

.item__name:hover {
	opacity: 0.5;
	transition: 0.1s;
}

.item__model {
	color: #60695C;
	font-size: 16px;
	letter-spacing: -0.32px;
}

.item__price {
	color: #1A1F16;
	font-size: 20px;
	font-weight: 400;
}

.item__price:hover {
	opacity: 0.7;
	transition: 0.1s;
}

.item_cart-image:hover {
	opacity: 0.7;
	transition: 0.1s;
}

.price-and-cartBtn {
	display: flex;
	justify-content: space-between;
}